




























.fondo{

background-color: rgb(255, 255, 191);
height: 80px;
padding: 20px;

}


   /* styling of Input */
   .input {
    margin-left: 8px;
    color: #ffffff;
    font-size: 2rem;
    background-color: rgb(41, 206, 165);
    width: 800px;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.9em;
    border: 10px;
    border-bottom: var(--border-height) solid var(--border-before-color);
    /* border-left: 5px; */
   }

   input::placeholder{

    color: rgb(255, 255, 255);
   }



   /* styling of animated border */
   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;

   }
   /* Hover on Input */
   input:hover {
    /* background: var(--input-hovered-color); */
    background-color: rgb(41, 206, 165);


    
   }
   
   input:hover::placeholder{

color: rgb(255, 255, 255);

   }

   
   input:focus {
    outline: none;
   }
   /* here is code of animated border */
   input:focus ~ .input-border {
    width: 100%;
   }
   /* === if you want to do animated border on typing === */
   /* remove input:focus code and uncomment below code */
   /* input:valid ~ .input-border{
     width: 100%;
   } */